Описание реализации МЭК 61968/WSDL/iec.ch.TC57.2011.abstract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://iec.ch/TC57/2011/abstract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://iec.ch/TC57/2011/abstract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://iec.ch/TC57/2011/abstract/Imports">
      <xsd:import schemaLocation="iec.ch.TC57.2011.abstract.xsd" namespace="http://iec.ch/TC57/2011/abstract" />
      <xsd:import schemaLocation="iec.ch.TC57.2011.schema.message.xsd" namespace="http://iec.ch/TC57/2011/schema/message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIEC61968_PublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishEvent" />
  </wsdl:message>
  <wsdl:message name="IIEC61968_PublishEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishEventResponse" />
  </wsdl:message>
  <wsdl:message name="IIEC61968_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="IIEC61968_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestResponse" />
  </wsdl:message>
  <wsdl:message name="IIEC61968_Response_InputMessage">
    <wsdl:part name="parameters" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="IIEC61968_Response_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="IIEC61968">
    <wsdl:operation name="PublishEvent">
      <wsdl:input wsaw:Action="http://iec.ch/61968/PublishEvent" message="tns:IIEC61968_PublishEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://iec.ch/TC57/2011/abstract/IIEC61968/PublishEventResponse" message="tns:IIEC61968_PublishEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Request">
      <wsdl:input wsaw:Action="http://iec.ch/61968/Request" message="tns:IIEC61968_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://iec.ch/TC57/2011/abstract/IIEC61968/RequestResponse" message="tns:IIEC61968_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Response">
      <wsdl:input wsaw:Action="http://iec.ch/61968/Response" message="tns:IIEC61968_Response_InputMessage" />
      <wsdl:output wsaw:Action="http://iec.ch/TC57/2011/abstract/IIEC61968/ResponseResponse" message="tns:IIEC61968_Response_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>