Описание реализации МЭК 61968/WSDL/Profiles/CustomerConfig.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://gost.ru/2019/CustomerConfig#" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://gost.ru/2019/CustomerConfig#">
<xs:annotation/>
<xs:element name="CustomerConfig" type="m:CustomerConfig"/>
<xs:complexType name="CustomerConfig">
<xs:sequence>
<xs:element name="Customer" type="m:Customer" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAgreement" type="m:CustomerAgreement" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConfigurationEvent" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ConfigurationEvent">
<xs:annotation>
<xs:documentation>Used to report details on creation, change or deletion of an entity or its configuration.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="createdDateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ActivityRecord.createdDateTime">
<xs:annotation>
<xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="effectiveDateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ConfigurationEvent.effectiveDateTime">
<xs:annotation>
<xs:documentation>Date and time this event has or will become effective.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="modifiedBy" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ConfigurationEvent.modifiedBy">
<xs:annotation>
<xs:documentation>Source/initiator of modification.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reason" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ActivityRecord.reason">
<xs:annotation>
<xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="remark" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ConfigurationEvent.remark">
<xs:annotation>
<xs:documentation>Free text remarks.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="severity" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ActivityRecord.severity">
<xs:annotation>
<xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ActivityRecord.type">
<xs:annotation>
<xs:documentation>Type of event resulting in this activity record.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="status" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ActivityRecord.status">
<xs:annotation>
<xs:documentation>Information on consequence of event resulting in this activity record.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Customer" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer">
<xs:annotation>
<xs:documentation>Organisation receiving services from service supplier.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kind" minOccurs="0" maxOccurs="1" type="m:CustomerKind" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.kind">
<xs:annotation>
<xs:documentation>Kind of customer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="locale" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.locale">
<xs:annotation>
<xs:documentation>Locale designating language to use in communications with this customer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.name">
<xs:annotation>
<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="pucNumber" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.pucNumber">
<xs:annotation>
<xs:documentation>(if applicable) Public utilities commission (PUC) identification number.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="specialNeed" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.specialNeed">
<xs:annotation>
<xs:documentation>True if customer organisation has special service needs such as life support, hospitals, etc.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="vip" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.vip">
<xs:annotation>
<xs:documentation>(use 'priority' instead) True if this is an important customer. Importance is for matters different than those in 'specialNeed' attribute.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ConfigurationEvents" minOccurs="0" maxOccurs="1" type="m:ConfigurationEvent" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#OrganisationRole.ConfigurationEvents">
<xs:annotation>
<xs:documentation>All configuration events created for this organisation role.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CustomAttributes" minOccurs="0" maxOccurs="unbounded" type="m:UserAttribute" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.CustomAttributes">
<xs:annotation/>
</xs:element>
<xs:element name="CustomerAgreements" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.CustomerAgreements">
<xs:annotation>
<xs:documentation>All agreements of this customer.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#CustomerAgreement">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
<xs:element name="EndDevices" minOccurs="0" maxOccurs="unbounded" type="m:Meter" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.EndDevices">
<xs:annotation>
<xs:documentation>All end devices of this customer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Organisation" minOccurs="0" maxOccurs="1" type="m:Organisation" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#OrganisationRole.Organisation">
<xs:annotation>
<xs:documentation>Organisation having this role.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="status" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Customer.status">
<xs:annotation>
<xs:documentation>Status of this customer.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAgreement" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#CustomerAgreement">
<xs:annotation>
<xs:documentation>Agreement between the customer and the service supplier to pay for service at a specific service location. It records certain billing information about the type of service provided at the service location and is used during charge creation to determine the type of service.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="createdDateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.createdDateTime">
<xs:annotation>
<xs:documentation>Date and time that this document was created.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="lastModifiedDateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.lastModifiedDateTime">
<xs:annotation>
<xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="loadMgmt" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#CustomerAgreement.loadMgmt">
<xs:annotation>
<xs:documentation>Load management code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="revisionNumber" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.revisionNumber">
<xs:annotation>
<xs:documentation>Revision number for this document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="signDate" minOccurs="0" maxOccurs="1" type="xs:date" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Agreement.signDate">
<xs:annotation>
<xs:documentation>Date this agreement was consummated among associated persons and/or organisations.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="subject" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.subject">
<xs:annotation>
<xs:documentation>Document subject.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="title" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.title">
<xs:annotation>
<xs:documentation>Document title.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.type">
<xs:annotation>
<xs:documentation>Utility-specific classification of this document, according to its corporate standards, practices, and existing IT systems (e.g., for management of assets, maintenance, work, outage, customers, etc.).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ConfigurationEvents" minOccurs="0" maxOccurs="unbounded" type="m:ConfigurationEvent" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.ConfigurationEvents">
<xs:annotation>
<xs:documentation>All configuration events created for this document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CustomAttributes" minOccurs="0" maxOccurs="unbounded" type="m:UserAttribute" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.CustomAttributes">
<xs:annotation/>
</xs:element>
<xs:element name="docStatus" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.docStatus">
<xs:annotation>
<xs:documentation>Status of this document. For status of subject matter this document represents (e.g., Agreement, Work), use 'status' attribute.</xs:documentation>
<xs:documentation>Example values for 'docStatus.status' are draft, approved, cancelled, etc.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ServiceCategory" minOccurs="0" maxOccurs="1" type="m:ServiceCategory" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#CustomerAgreement.ServiceCategory">
<xs:annotation>
<xs:documentation>Service category for this agreement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="status" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Document.status">
<xs:annotation>
<xs:documentation>Status of subject matter (e.g., Agreement, Work) this document represents. For status of the document itself, use 'docStatus' attribute.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UsagePoints" minOccurs="0" maxOccurs="unbounded" type="m:UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#CustomerAgreement.UsagePoints">
<xs:annotation>
<xs:documentation>All service delivery points regulated by this customer agreement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="validityInterval" minOccurs="0" maxOccurs="1" type="m:DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Agreement.validityInterval">
<xs:annotation>
<xs:documentation>Date and time interval this agreement is valid (from going into effect to termination).</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CustomerKind" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#CustomerKind">
<xs:annotation>
<xs:documentation>Kind of customer.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="commercialIndustrial">
<xs:annotation>
<xs:documentation>Commercial industrial customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="energyServiceScheduler">
<xs:annotation>
<xs:documentation>Customer as energy service scheduler.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="energyServiceSupplier">
<xs:annotation>
<xs:documentation>Customer as energy service supplier.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="enterprise">
<xs:annotation/>
</xs:enumeration>
<xs:enumeration value="internalUse">
<xs:annotation>
<xs:documentation>Internal use customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="other">
<xs:annotation>
<xs:documentation>Other kind of customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="pumpingLoad">
<xs:annotation>
<xs:documentation>Pumping load customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="regionalOperator">
<xs:annotation/>
</xs:enumeration>
<xs:enumeration value="residential">
<xs:annotation>
<xs:documentation>Residential customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialAndCommercial">
<xs:annotation>
<xs:documentation>Residential and commercial customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialAndStreetlight">
<xs:annotation>
<xs:documentation>Residential and streetlight customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialFarmService">
<xs:annotation>
<xs:documentation>Residential farm service customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialStreetlightOthers">
<xs:annotation>
<xs:documentation>Residential streetlight or other related customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="subsidiary">
<xs:annotation/>
</xs:enumeration>
<xs:enumeration value="windMachine">
<xs:annotation>
<xs:documentation>Wind machine customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#DateTimeInterval">
<xs:annotation>
<xs:documentation>Interval between two date and time points.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="end" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#DateTimeInterval.end">
<xs:annotation>
<xs:documentation>End date and time of this interval.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="start" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#DateTimeInterval.start">
<xs:annotation>
<xs:documentation>Start date and time of this interval.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress">
<xs:annotation>
<xs:documentation>Electronic address information.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="email1" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.email1">
<xs:annotation>
<xs:documentation>Primary email address.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="email2" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.email2">
<xs:annotation>
<xs:documentation>Alternate email address.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="lan" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.lan">
<xs:annotation>
<xs:documentation>Address on local area network.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="mac" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.mac">
<xs:annotation>
<xs:documentation>MAC (Media Access Control) address.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="password" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.password">
<xs:annotation>
<xs:documentation>Password needed to log in.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="radio" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.radio">
<xs:annotation>
<xs:documentation>Radio address.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="userID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.userID">
<xs:annotation>
<xs:documentation>User ID needed to log in, which can be for an individual person, an organisation, a location, etc.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="web" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ElectronicAddress.web">
<xs:annotation>
<xs:documentation>World wide web address.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Meter" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Meter">
<xs:annotation>
<xs:documentation>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Name">
<xs:annotation>
<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Name.name">
<xs:annotation>
<xs:documentation>Any free text that name the object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameType" minOccurs="0" maxOccurs="1" type="m:NameType" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Name.NameType">
<xs:annotation>
<xs:documentation>Type of this name.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#NameType">
<xs:annotation>
<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:</xs:documentation>
<xs:documentation>The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#NameType.description">
<xs:annotation>
<xs:documentation>Description of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#NameType.name">
<xs:annotation>
<xs:documentation>Name of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameTypeAuthority" minOccurs="0" maxOccurs="1" type="m:NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#NameType.NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#NameTypeAuthority.description">
<xs:annotation>
<xs:documentation>Description of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#NameTypeAuthority.name">
<xs:annotation>
<xs:documentation>Name of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Organisation" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Organisation">
<xs:annotation>
<xs:documentation>Organisation that might have roles as utility, contractor, supplier, manufacturer, customer, etc.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.name">
<xs:annotation>
<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CustomAttributes" minOccurs="0" maxOccurs="unbounded" type="m:UserAttribute" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.CustomAttributes">
<xs:annotation/>
</xs:element>
<xs:element name="electronicAddress" minOccurs="0" maxOccurs="1" type="m:ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Organisation.electronicAddress">
<xs:annotation>
<xs:documentation>Electronic address.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="phone1" minOccurs="0" maxOccurs="1" type="m:TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Organisation.phone1">
<xs:annotation>
<xs:documentation>Phone number.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="phone2" minOccurs="0" maxOccurs="1" type="m:TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Organisation.phone2">
<xs:annotation>
<xs:documentation>Additional phone number.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="postalAddress" minOccurs="0" maxOccurs="1" type="m:StreetAddress" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Organisation.postalAddress">
<xs:annotation>
<xs:documentation>Postal address, potentially different than 'streetAddress' (e.g., another city).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="streetAddress" minOccurs="0" maxOccurs="1" type="m:StreetAddress" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Organisation.streetAddress">
<xs:annotation>
<xs:documentation>Street address.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ServiceCategory" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ServiceCategory">
<xs:annotation>
<xs:documentation>Category of service provided to the customer.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kind" minOccurs="0" maxOccurs="1" type="m:ServiceKind" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ServiceCategory.kind">
<xs:annotation>
<xs:documentation>Kind of service.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ServiceKind" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#ServiceKind">
<xs:annotation>
<xs:documentation>Kind of service.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="air">
<xs:annotation>
<xs:documentation>Air service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="electricity">
<xs:annotation>
<xs:documentation>Electricity service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="gas">
<xs:annotation>
<xs:documentation>Gas service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="heat">
<xs:annotation>
<xs:documentation>Heat service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="heatingFluid">
<xs:annotation>
<xs:documentation>Heating fluid service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="internet">
<xs:annotation>
<xs:documentation>Internet service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="naturalGas">
<xs:annotation>
<xs:documentation>Natural gas service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="other">
<xs:annotation>
<xs:documentation>Other kind of service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="propane">
<xs:annotation>
<xs:documentation>Propane service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rates">
<xs:annotation>
<xs:documentation>Rates (e.g. tax, charge, toll, duty, tariff, etc.) service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="refuse">
<xs:annotation>
<xs:documentation>Refuse (waster) service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="sewerage">
<xs:annotation>
<xs:documentation>Sewerage service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="steam">
<xs:annotation>
<xs:documentation>Steam service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="time">
<xs:annotation>
<xs:documentation>Time service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="tvLicence">
<xs:annotation>
<xs:documentation>TV license service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="water">
<xs:annotation>
<xs:documentation>Water service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Status">
<xs:annotation>
<xs:documentation>Current status information relevant to an entity.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="dateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Status.dateTime">
<xs:annotation>
<xs:documentation>Date and time for which status 'value' applies.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reason" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Status.reason">
<xs:annotation>
<xs:documentation>Reason code or explanation for why an object went to the current status 'value'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="remark" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Status.remark">
<xs:annotation>
<xs:documentation>Pertinent information regarding the current 'value', as free form text.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#Status.value">
<xs:annotation>
<xs:documentation>Status value at 'dateTime'; prior status changes may have been kept in instances of activity records associated with the object to which this status applies.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StreetAddress" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetAddress">
<xs:annotation>
<xs:documentation>General purpose street and postal address information.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="status" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetAddress.status">
<xs:annotation>
<xs:documentation>Status of this address.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="streetDetail" minOccurs="0" maxOccurs="1" type="m:StreetDetail" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetAddress.streetDetail">
<xs:annotation>
<xs:documentation>Street detail.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="townDetail" minOccurs="0" maxOccurs="1" type="m:TownDetail" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetAddress.townDetail">
<xs:annotation>
<xs:documentation>Town detail.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StreetDetail" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail">
<xs:annotation>
<xs:documentation>Street details, in the context of address.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="addressGeneral" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.addressGeneral">
<xs:annotation>
<xs:documentation>First line of a free form address or some additional address information (for example a mail stop).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="buildingName" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.buildingName">
<xs:annotation>
<xs:documentation>(if applicable) In certain cases the physical location of the place of interest does not have a direct point of entry from the street, but may be located inside a larger structure such as a building, complex, office block, apartment, etc.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="code" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.code">
<xs:annotation>
<xs:documentation>(if applicable) Utilities often make use of external reference systems, such as those of the town-planner's department or surveyor general's mapping system, that allocate global reference codes to streets.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.name">
<xs:annotation>
<xs:documentation>Name of the street.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="number" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.number">
<xs:annotation>
<xs:documentation>Designator of the specific location on the street.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="prefix" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.prefix">
<xs:annotation>
<xs:documentation>Prefix to the street name. For example: North, South, East, West.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="suffix" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.suffix">
<xs:annotation>
<xs:documentation>Suffix to the street name. For example: North, South, East, West.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="suiteNumber" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.suiteNumber">
<xs:annotation>
<xs:documentation>Number of the apartment or suite.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.type">
<xs:annotation>
<xs:documentation>Type of street. Examples include: street, circle, boulevard, avenue, road, drive, etc.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="withinTownLimits" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StreetDetail.withinTownLimits">
<xs:annotation>
<xs:documentation>True if this street is within the legal geographical boundaries of the specified town (default).</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StringQuantity" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StringQuantity">
<xs:annotation>
<xs:documentation>Quantity with string value (when it is not important whether it is an integral or a floating point number) and associated unit information.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="multiplier" minOccurs="0" maxOccurs="1" type="m:UnitMultiplier" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StringQuantity.multiplier">
<xs:annotation/>
</xs:element>
<xs:element name="unit" minOccurs="0" maxOccurs="1" type="m:UnitSymbol" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StringQuantity.unit">
<xs:annotation/>
</xs:element>
<xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#StringQuantity.value">
<xs:annotation/>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TelephoneNumber">
<xs:annotation>
<xs:documentation>Telephone number.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="areaCode" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TelephoneNumber.areaCode">
<xs:annotation>
<xs:documentation>(if applicable) Area or region code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="cityCode" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TelephoneNumber.cityCode">
<xs:annotation>
<xs:documentation>City code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="countryCode" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TelephoneNumber.countryCode">
<xs:annotation>
<xs:documentation>Country code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="extension" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TelephoneNumber.extension">
<xs:annotation>
<xs:documentation>(if applicable) Extension for this telephone number.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="localNumber" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TelephoneNumber.localNumber">
<xs:annotation>
<xs:documentation>Main (local) part of this telephone number.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TownDetail" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TownDetail">
<xs:annotation>
<xs:documentation>Town details, in the context of address.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="code" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TownDetail.code">
<xs:annotation>
<xs:documentation>Town code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="country" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TownDetail.country">
<xs:annotation>
<xs:documentation>Name of the country.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TownDetail.name">
<xs:annotation>
<xs:documentation>Town name.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="section" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TownDetail.section">
<xs:annotation>
<xs:documentation>Town section. For example, it is common for there to be 36 sections per township.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="stateOrProvince" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#TownDetail.stateOrProvince">
<xs:annotation>
<xs:documentation>Name of the state or province.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UnitMultiplier" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#UnitMultiplier">
<xs:annotation>
<xs:documentation>The unit multipliers defined for the CIM.  When applied to unit symbols that already contain a multiplier, both multipliers are used. For example, to exchange kilograms using unit symbol of kg, one uses the "none" multiplier, to exchange metric ton (Mg), one uses the "k" multiplier.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="E">
<xs:annotation>
<xs:documentation>Exa 10**18.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="G">
<xs:annotation>
<xs:documentation>Giga 10**9.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="M">
<xs:annotation>
<xs:documentation>Mega 10**6.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="P">
<xs:annotation>
<xs:documentation>Peta 10**15</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="T">
<xs:annotation>
<xs:documentation>Tera 10**12.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Y">
<xs:annotation>
<xs:documentation>Yotta 10**24</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Z">
<xs:annotation>
<xs:documentation>Zetta 10**21</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="a">
<xs:annotation>
<xs:documentation>atto 10**-18.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="c">
<xs:annotation>
<xs:documentation>Centi 10**-2.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="d">
<xs:annotation>
<xs:documentation>Deci 10**-1.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="da">
<xs:annotation>
<xs:documentation>deca 10**1.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="f">
<xs:annotation>
<xs:documentation>femto 10**-15.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="h">
<xs:annotation>
<xs:documentation>hecto 10**2.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="k">
<xs:annotation>
<xs:documentation>Kilo 10**3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m">
<xs:annotation>
<xs:documentation>Milli 10**-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="micro">
<xs:annotation>
<xs:documentation>Micro 10**-6.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="n">
<xs:annotation>
<xs:documentation>Nano 10**-9.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="none">
<xs:annotation>
<xs:documentation>No multiplier or equivalently multiply by 1.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="p">
<xs:annotation>
<xs:documentation>Pico 10**-12.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="y">
<xs:annotation>
<xs:documentation>yocto 10**-24.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="z">
<xs:annotation>
<xs:documentation>zepto 10**-21.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnitSymbol" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#UnitSymbol">
<xs:annotation>
<xs:documentation>The units defined for usage in the CIM.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="A">
<xs:annotation>
<xs:documentation>Current in Ampere.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="A2">
<xs:annotation>
<xs:documentation>Ampere squared (AІ).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="A2h">
<xs:annotation>
<xs:documentation>ampere-squared hour, Ampere-squared hour.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="A2s">
<xs:annotation>
<xs:documentation>Ampere squared time in square ampere (AІs).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="APerA">
<xs:annotation>
<xs:documentation>Current, Ratio of Amperages  Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mA/A’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="APerm">
<xs:annotation>
<xs:documentation>A/m, magnetic field strength, Ampere per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Ah">
<xs:annotation>
<xs:documentation>Ampere-hours, Ampere-hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="As">
<xs:annotation>
<xs:documentation>Ampere seconds (A·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Bq">
<xs:annotation>
<xs:documentation>Radioactivity in Becquerel (1/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Btu">
<xs:annotation>
<xs:documentation>Energy, British Thermal Unit.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="C">
<xs:annotation>
<xs:documentation>Electric charge in Coulomb (A·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CPerkg">
<xs:annotation>
<xs:documentation>exposure (x rays), Coulomb per kilogram.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CPerm2">
<xs:annotation>
<xs:documentation>surface charge density, Coulomb per square metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CPerm3">
<xs:annotation>
<xs:documentation>electric charge density, Coulomb per cubic metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="F">
<xs:annotation>
<xs:documentation>Electric capacitance in Farad (C/V).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="FPerm">
<xs:annotation>
<xs:documentation>permittivity, Farad per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="G">
<xs:annotation>
<xs:documentation>Magnetic flux density, Gauss (1 G = 10-4 T).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Gy">
<xs:annotation>
<xs:documentation>Absorbed dose in Gray (J/kg).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="GyPers">
<xs:annotation>
<xs:documentation>absorbed dose rate, Gray per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="H">
<xs:annotation>
<xs:documentation>Electric inductance in Henry (Wb/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="HPerm">
<xs:annotation>
<xs:documentation>permeability, Henry per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Hz">
<xs:annotation>
<xs:documentation>Frequency in Hertz (1/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="HzPerHz">
<xs:annotation>
<xs:documentation>Frequency, Rate of frequency change  Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mHz/Hz’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="HzPers">
<xs:annotation>
<xs:documentation>Rate of change of frequency in Hertz per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="J">
<xs:annotation>
<xs:documentation>Energy in joule (N·m = C·V = W·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerK">
<xs:annotation>
<xs:documentation>Heat capacity in Joule/Kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerkg">
<xs:annotation>
<xs:documentation>Specific energy, Joule / kg.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerkgK">
<xs:annotation>
<xs:documentation>Specific heat capacity, specific entropy, Joule per kilogram Kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerm2">
<xs:annotation>
<xs:documentation>Insulation energy density, Joule per square metre or watt second per square metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerm3">
<xs:annotation>
<xs:documentation>energy density, Joule per cubic metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPermol">
<xs:annotation>
<xs:documentation>molar energy, Joule per mole.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPermolK">
<xs:annotation>
<xs:documentation>molar entropy, molar heat capacity, Joule per mole kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPers">
<xs:annotation>
<xs:documentation>Energy rate joule per second (J/s),</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="K">
<xs:annotation>
<xs:documentation>Temperature in Kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="KPers">
<xs:annotation>
<xs:documentation>Temperature change rate in Kelvin per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="M">
<xs:annotation>
<xs:documentation>Length, nautical mile (1 M = 1852 m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Mx">
<xs:annotation>
<xs:documentation>Magnetic flux, Maxwell (1 Mx = 10-8 Wb).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="N">
<xs:annotation>
<xs:documentation>Force in Newton (kg·m/sІ).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="NPerm">
<xs:annotation>
<xs:documentation>Surface tension, Newton per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Nm">
<xs:annotation>
<xs:documentation>Moment of force, Newton metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Oe">
<xs:annotation>
<xs:documentation>Magnetic field, Њrsted (1 Oe = (103/4p) A/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Pa">
<xs:annotation>
<xs:documentation>Pressure in Pascal (N/mІ). Note: the absolute or relative measurement of pressure is implied with this entry. See below for more explicit forms.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="PaPers">
<xs:annotation>
<xs:documentation>Pressure change rate in Pascal per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Pas">
<xs:annotation>
<xs:documentation>Dynamic viscosity, Pascal second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Q">
<xs:annotation>
<xs:documentation>Quantity power, Q.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Qh">
<xs:annotation>
<xs:documentation>Quantity energy, Qh.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="S">
<xs:annotation>
<xs:documentation>Conductance in Siemens.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="SPerm">
<xs:annotation>
<xs:documentation>Conductance per length (F/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Sv">
<xs:annotation>
<xs:documentation>Dose equivalent in Sievert (J/kg).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="T">
<xs:annotation>
<xs:documentation>Magnetic flux density in Tesla (Wb/m2).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="V">
<xs:annotation>
<xs:documentation>Electric potential in Volt (W/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="V2">
<xs:annotation>
<xs:documentation>Volt squared (WІ/AІ).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="V2h">
<xs:annotation>
<xs:documentation>volt-squared hour, Volt-squared-hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VA">
<xs:annotation>
<xs:documentation>Apparent power in Volt Ampere (See also real power and reactive power.)</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VAh">
<xs:annotation>
<xs:documentation>Apparent energy in Volt Ampere hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VAr">
<xs:annotation>
<xs:documentation>Reactive power in Volt Ampere reactive. The “reactive” or “imaginary” component of electrical power (VIsin(phi)). (See also real power and apparent power).</xs:documentation>
<xs:documentation>Note: Different meter designs use different methods to arrive at their results. Some meters may compute reactive power as an arithmetic value, while others compute the value vectorially. The data consumer should determine the method in use and the suitability of the measurement for the intended purpose.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VArh">
<xs:annotation>
<xs:documentation>Reactive energy in Volt Ampere reactive hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerHz">
<xs:annotation>
<xs:documentation>Magnetic flux in Volt per Hertz.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerV">
<xs:annotation>
<xs:documentation>Voltage, Ratio of voltages Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mV/V’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerVA">
<xs:annotation>
<xs:documentation>Power factor, PF, the ratio of the active power to the apparent power. Note: The sign convention used for power factor will differ between IEC meters and EEI (ANSI) meters. It is assumed that the data consumers understand the type of meter being used and agree on the sign convention in use at any given utility.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerVAr">
<xs:annotation>
<xs:documentation>Power factor, PF, the ratio of the active power to the apparent power. Note: The sign convention used for power factor will differ between IEC meters and EEI (ANSI) meters. It is assumed that the data consumers understand the type of meter being used and agree on the sign convention in use at any given utility.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerm">
<xs:annotation>
<xs:documentation>electric field strength, Volt per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Vh">
<xs:annotation>
<xs:documentation>Volt-hour, Volt hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Vs">
<xs:annotation>
<xs:documentation>Volt second (Ws/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="W">
<xs:annotation>
<xs:documentation>Real power in Watt (J/s). Electrical power may have real and reactive components. The real portion of electrical power (IІR or VIcos(phi)), is expressed in Watts. (See also apparent power and reactive power.)</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerA">
<xs:annotation>
<xs:documentation>Active power per current flow, watt per Ampere.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerW">
<xs:annotation>
<xs:documentation>Signal Strength, Ratio of power  Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mW/W’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerm2">
<xs:annotation>
<xs:documentation>Heat flux density, irradiance, Watt per square metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerm2sr">
<xs:annotation>
<xs:documentation>radiance, Watt per square metre steradian.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPermK">
<xs:annotation>
<xs:documentation>Thermal conductivity in Watt/metre Kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPers">
<xs:annotation>
<xs:documentation>Ramp rate in Watt per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPersr">
<xs:annotation>
<xs:documentation>Radiant intensity, Watt per steradian.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Wb">
<xs:annotation>
<xs:documentation>Magnetic flux in Weber (V·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Wh">
<xs:annotation>
<xs:documentation>Real energy in Watt hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="anglemin">
<xs:annotation>
<xs:documentation>Plane angle, minute.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="anglesec">
<xs:annotation>
<xs:documentation>Plane angle, second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="bar">
<xs:annotation>
<xs:documentation>Pressure, bar (1 bar = 100 kPa).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="cd">
<xs:annotation>
<xs:documentation>Luminous intensity in candela.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="charPers">
<xs:annotation>
<xs:documentation>Data rate (baud) in characters per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="character">
<xs:annotation>
<xs:documentation>Number of characters.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="cosPhi">
<xs:annotation>
<xs:documentation>Power factor, dimensionless.</xs:documentation>
<xs:documentation>Note 1: This definition of power factor only holds for balanced systems. See the alternative definition under code 153.</xs:documentation>
<xs:documentation>Note 2 : Beware of differing sign conventions in use between the IEC and EEI. It is assumed that the data consumer understands the type of meter in use and the sign convention in use by the utility.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="count">
<xs:annotation>
<xs:documentation>Amount of substance, Counter value.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="d">
<xs:annotation>
<xs:documentation>Time, day = 24 h = 86400 s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="dB">
<xs:annotation>
<xs:documentation>Sound pressure level in decibel. Note:  multiplier “d” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="dBm">
<xs:annotation>
<xs:documentation>Power level (logrithmic ratio of signal strength , Bel-mW), normalized to 1mW. Note:  multiplier “d” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="deg">
<xs:annotation>
<xs:documentation>Plane angle in degrees.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="degC">
<xs:annotation>
<xs:documentation>Relative temperature in degrees Celsius.</xs:documentation>
<xs:documentation>In the SI unit system the symbol is єC. Electric charge is measured in coulomb that has the unit symbol C. To distinguish degree Celsius form coulomb the symbol used in the UML is degC. Reason for not using єC is the special character є is difficult to manage in software.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ft3">
<xs:annotation>
<xs:documentation>Volume, cubic foot.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="gPerg">
<xs:annotation>
<xs:documentation>Concentration, The ratio of the mass of a solute divided by the mass of  the solution. Note: Users may need use a prefix such a ‘µ’ to express a quantity such as ‘µg/g’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="gal">
<xs:annotation>
<xs:documentation>Volume, US gallon (1 gal = 231 in3 = 128 fl ounce).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="h">
<xs:annotation>
<xs:documentation>Time, hour = 60 min = 3600 s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ha">
<xs:annotation>
<xs:documentation>Area, hectare.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kat">
<xs:annotation>
<xs:documentation>Catalytic activity, katal = mol / s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="katPerm3">
<xs:annotation>
<xs:documentation>catalytic activity concentration, katal per cubic metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kg">
<xs:annotation>
<xs:documentation>Mass in kilogram.  Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgPerJ">
<xs:annotation>
<xs:documentation>Weigh per energy in kilogram/joule (kg/J). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgPerm3">
<xs:annotation>
<xs:documentation>Density in kilogram/cubic metre (kg/mі). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgm">
<xs:annotation>
<xs:documentation>Moment of mass in kilogram metre (kg·m) (first moment of mass). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgm2">
<xs:annotation>
<xs:documentation>Moment of mass in kilogram square metre (kg·mІ) (Second moment of mass, commonly called the moment of inertia). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kn">
<xs:annotation>
<xs:documentation>Speed, knot (1 kn = 1852/3600) m/s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="l">
<xs:annotation>
<xs:documentation>Volume, litre = dm3 = m3/1000.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lPerh">
<xs:annotation>
<xs:documentation>Volumetric flow rate, litre per hour.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lPerl">
<xs:annotation>
<xs:documentation>Concentration, The ratio of the volume of a solute divided by the volume of  the solution. Note: Users may need use a prefix such a ‘µ’ to express a quantity such as ‘µL/L’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lPers">
<xs:annotation>
<xs:documentation>Volumetric flow rate in litre per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lm">
<xs:annotation>
<xs:documentation>Luminous flux in lumen (cd·sr).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lx">
<xs:annotation>
<xs:documentation>Illuminance in lux (lm/mІ).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m">
<xs:annotation>
<xs:documentation>Length in meter.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m2">
<xs:annotation>
<xs:documentation>Area in square metre (mІ).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m2Pers">
<xs:annotation>
<xs:documentation>Viscosity in metre square / second (mІ/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3">
<xs:annotation>
<xs:documentation>Volume in cubic metre (mі).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Compensated">
<xs:annotation>
<xs:documentation>Volume, cubic metre, with the value compensated for weather effects.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Perh">
<xs:annotation>
<xs:documentation>Volumetric flow rate, cubic metre per hour.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Perkg">
<xs:annotation>
<xs:documentation>Specific volume, cubic metre per kilogram, v.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Pers">
<xs:annotation>
<xs:documentation>Volumetric flow rate in cubic metres per second (mі/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Uncompensated">
<xs:annotation>
<xs:documentation>Volume, cubic metre, with the value uncompensated for weather effects.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mPerm3">
<xs:annotation>
<xs:documentation>Fuel efficiency in metre per cubic metre (m/mі).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mPers">
<xs:annotation>
<xs:documentation>Velocity in metre per second (m/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mPers2">
<xs:annotation>
<xs:documentation>Acceleration in metre per second squared (m/sІ).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="min">
<xs:annotation>
<xs:documentation>Time, minute  = 60 s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mmHg">
<xs:annotation>
<xs:documentation>Pressure, millimeter of mercury (1 mmHg is approximately 133.3 Pa).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mol">
<xs:annotation>
<xs:documentation>Amount of substance in mole.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="molPerkg">
<xs:annotation>
<xs:documentation>Concentration, Molality, the amount of solute in moles and the amount of solvent in kilograms.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="molPerm3">
<xs:annotation>
<xs:documentation>Concentration, The amount of substance concentration, (c), the amount of solvent in moles divided by the volume of solution in mі.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="molPermol">
<xs:annotation>
<xs:documentation>Concentration, Molar fraction (?), the ratio of the molar amount of a solute divided by the molar amount of the solution.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="none">
<xs:annotation>
<xs:documentation>Dimension less quantity, e.g. count, per unit, etc.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ohm">
<xs:annotation>
<xs:documentation>Electric resistance in ohm (V/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ohmPerm">
<xs:annotation>
<xs:documentation>Electric resistance per length in ohm per metre ((V/A)/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ohmm">
<xs:annotation>
<xs:documentation>resistivity, Ohm metre, (rho).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="onePerHz">
<xs:annotation>
<xs:documentation>Reciprocal of frequency (1/Hz).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="onePerm">
<xs:annotation>
<xs:documentation>Wavenumber, reciprocal metre,  (1/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ppm">
<xs:annotation>
<xs:documentation>Concentration in parts per million.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rad">
<xs:annotation>
<xs:documentation>Plane angle in radian (m/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="radPers">
<xs:annotation>
<xs:documentation>Angular velocity in radians per second (rad/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="radPers2">
<xs:annotation>
<xs:documentation>Angular acceleration, radian per second squared.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rev">
<xs:annotation>
<xs:documentation>Amount of rotation, Revolutions.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rotPers">
<xs:annotation>
<xs:documentation>Rotations per second (1/s). See also Hz (1/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="s">
<xs:annotation>
<xs:documentation>Time in seconds.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="sPers">
<xs:annotation>
<xs:documentation>Time, Ratio of time Note: Users may need to supply a prefix such as ‘µ’ to show rates such as ‘µs/s’</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="sr">
<xs:annotation>
<xs:documentation>Solid angle in steradian (m2/m2).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="therm">
<xs:annotation>
<xs:documentation>Energy, Therm.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="tonne">
<xs:annotation>
<xs:documentation>mass, “tonne” or “metric  ton” (1000 kg = 1 Mg).</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#UsagePoint">
<xs:annotation>
<xs:documentation>Logical or physical point in the network to which readings or events may be attributed. Used at the place where a physical or virtual meter may be located; however, it is not required that a meter be present.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UserAttribute" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#UserAttribute">
<xs:annotation>
<xs:documentation>Generic name-value pair class, with optional sequence number and units for value; can be used to model parts of information exchange when concrete types are not known in advance.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#UserAttribute.name">
<xs:annotation>
<xs:documentation>Name of an attribute.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="sequenceNumber" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#UserAttribute.sequenceNumber">
<xs:annotation>
<xs:documentation>Sequence number for this attribute in a list of attributes.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="value" minOccurs="1" maxOccurs="1" type="m:StringQuantity" sawsdl:modelReference="http://iec.ch/TC57/2016/CIM-schema-cim17#UserAttribute.value">
<xs:annotation>
<xs:documentation>Value of an attribute, including unit information.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
