Описание реализации МЭК 61968/WSDL/Profiles/GetUsagePointConfig.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://iec.ch/TC57/2011/GetUsagePointConfig#" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://iec.ch/TC57/2011/GetUsagePointConfig#">
<xs:annotation>
<xs:documentation/>
</xs:annotation>
<xs:element name="GetUsagePointConfig" type="m:GetUsagePointConfig"/>
<xs:complexType name="GetUsagePointConfig">
<xs:sequence>
<xs:element name="Customer" type="m:Customer" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccount" type="m:CustomerAccount" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAgreement" type="m:CustomerAgreement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PricingStructure" type="m:PricingStructure" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ServiceCategory" type="m:ServiceCategory" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ServiceLocation" type="m:ServiceLocation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ServiceSupplier" type="m:ServiceSupplier" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="UsagePoint" type="m:UsagePoint" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="UsagePointGroup" type="m:UsagePointGroup" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Customer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Customer">
<xs:annotation>
<xs:documentation>Organisation receiving services from service supplier.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kind" minOccurs="0" maxOccurs="1" type="m:CustomerKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Customer.kind">
<xs:annotation>
<xs:documentation>Kind of customer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccount" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#CustomerAccount">
<xs:annotation>
<xs:documentation>Assignment of a group of products and services purchased by the customer through a customer agreement, used as a mechanism for customer billing and payment. It contains common information from the various types of customer agreements to create billings (invoices) for a customer and receive payment.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAgreement" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#CustomerAgreement">
<xs:annotation>
<xs:documentation>Agreement between the customer and the service supplier to pay for service at a specific service location. It records certain billing information about the type of service provided at the service location and is used during charge creation to determine the type of service.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CustomerKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#CustomerKind">
<xs:annotation>
<xs:documentation>Kind of customer.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="commercialIndustrial">
<xs:annotation>
<xs:documentation>Commercial industrial customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="energyServiceScheduler">
<xs:annotation>
<xs:documentation>Customer as energy service scheduler.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="energyServiceSupplier">
<xs:annotation>
<xs:documentation>Customer as energy service supplier.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="internalUse">
<xs:annotation>
<xs:documentation>Internal use customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="other">
<xs:annotation>
<xs:documentation>Other kind of customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="pumpingLoad">
<xs:annotation>
<xs:documentation>Pumping load customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residential">
<xs:annotation>
<xs:documentation>Residential customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialAndCommercial">
<xs:annotation>
<xs:documentation>Residential and commercial customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialAndStreetlight">
<xs:annotation>
<xs:documentation>Residential and streetlight customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialFarmService">
<xs:annotation>
<xs:documentation>Residential farm service customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="residentialStreetlightOthers">
<xs:annotation>
<xs:documentation>Residential streetlight or other related customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="windMachine">
<xs:annotation>
<xs:documentation>Wind machine customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
<xs:annotation>
<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name">
<xs:annotation>
<xs:documentation>Any free text that name the object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameType" minOccurs="0" maxOccurs="1" type="m:NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType">
<xs:annotation>
<xs:documentation>Type of this name.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType">
<xs:annotation>
<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName and aliasName as defined in CIM version 14. Their definitions from CIM14 are</xs:documentation>
<xs:documentation>The localName is a human readable name of the object. It is only used with objects organized in a naming hierarchy. localName: A free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
<xs:documentation>aliasName: A free text alternate name typically used in tabular reports where the column width is limited.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description">
<xs:annotation>
<xs:documentation>Description of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name">
<xs:annotation>
<xs:documentation>Name of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameTypeAuthority" minOccurs="0" maxOccurs="1" type="m:NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description">
<xs:annotation>
<xs:documentation>Description of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name">
<xs:annotation>
<xs:documentation>Name of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PricingStructure" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PricingStructure">
<xs:annotation>
<xs:documentation>Grouping of pricing components and prices used in the creation of customer charges and the eligibility criteria under which these terms may be offered to a customer. The reasons for grouping include state, customer classification, site characteristics, classification (i.e. fee price structure, deposit price structure, electric service price structure, etc.) and accounting requirements.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="code" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PricingStructure.code">
<xs:annotation>
<xs:documentation>Unique user-allocated key for this pricing structure, used by company representatives to identify the correct price structure for allocating to a customer. For rate schedules it is often prefixed by a state code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ServiceCategory" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceCategory">
<xs:annotation>
<xs:documentation>Category of service provided to the customer.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kind" minOccurs="0" maxOccurs="1" type="m:ServiceKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceCategory.kind">
<xs:annotation>
<xs:documentation>Kind of service.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ServiceKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceKind">
<xs:annotation>
<xs:documentation>Kind of service.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="electricity">
<xs:annotation>
<xs:documentation>Electricity service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="gas">
<xs:annotation>
<xs:documentation>Gas service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="heat">
<xs:annotation>
<xs:documentation>Heat service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="internet">
<xs:annotation>
<xs:documentation>Internet service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="other">
<xs:annotation>
<xs:documentation>Other kind of service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rates">
<xs:annotation>
<xs:documentation>Rates (e.g. tax, charge, toll, duty, tariff, etc.) service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="refuse">
<xs:annotation>
<xs:documentation>Refuse (waster) service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="sewerage">
<xs:annotation>
<xs:documentation>Sewerage service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="time">
<xs:annotation>
<xs:documentation>Time service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="tvLicence">
<xs:annotation>
<xs:documentation>TV license service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="water">
<xs:annotation>
<xs:documentation>Water service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ServiceLocation" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceLocation">
<xs:annotation>
<xs:documentation>A real estate location, commonly referred to as premise.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ServiceSupplier" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceSupplier">
<xs:annotation>
<xs:documentation>Organisation that provides services to customers.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kind" minOccurs="0" maxOccurs="1" type="m:SupplierKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceSupplier.kind">
<xs:annotation>
<xs:documentation>Kind of supplier.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SupplierKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#SupplierKind">
<xs:annotation>
<xs:documentation>Kind of supplier.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="other">
<xs:annotation>
<xs:documentation>Other kind of supplier.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="retailer">
<xs:annotation>
<xs:documentation>Entity that sells the service, but does not deliver to the customer; applies to the deregulated markets.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="utility">
<xs:annotation>
<xs:documentation>Entity that delivers the service to the customer.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UsagePoint">
<xs:annotation>
<xs:documentation>Logical or physical point in the network to which readings or events may be attributed. Used at the place where a physical or virtual meter may be located; however, it is not required that a meter be present.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UsagePointGroup" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UsagePointGroup">
<xs:annotation>
<xs:documentation>Abstraction for management of group communications within a two-way AMR system or the data for a group of related usage points. Commands can be issued to all of the usage points that belong to a usage point group using a defined group address and the underlying AMR communication infrastructure.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
